/**
 * SCSS的变量处理
 */

$font : "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
$font-size : 14px;
$color : #555;
$style-color : #0e83cd;
$link-color : #0e83cd;
$content-width : 1140px;
$content-left-width : 280px;